* {
    box-sizing: border-box;
}

.header h1 {
    text-align: center;
}

.produkter {
    text-align: center;
    background-color: green;
}

a {
    text-decoration: none;
    color: yellow;
}

.produkter img{

    width: 100%;
    height: auto;
}