* {
    box-sizing: border-box;
}

.header h1 {
    text-align: center;
}

.produkter p{
    text-align: center;
    background-color: green;
    color: yellow;
}

.produkter img{
    width: 100%;
    height: auto;
}